# Day 4: Basic Python

__"When you first start to study a field, it seems like you have to memorize a zillion things. You don't. What you need is to identify the core principles- generally three to twelve of them-that govern the field. The million things you thought you had to memorize are simple various combinations of the core principles" - John T. Reed, Real Estate Investment__ 

This is a reference notebook that I complied during my process of learning python. I want to acknowledge all the resources that I got besides the knowledge I put to this notebook. Online courses (Pierian Data), Book (Python crash course), Github. I have no intention of copyright infringement but for personal reference in learning.

__Table of Content__ <br>
1.  Basic Python <br>
2.  Arithmetic <br>
3.  Variables <br>
3.0.1  Assign Value to Multiple Variables <br>
4.  Comment <br>
5.  Zen of python <br>
6.  Data types <br>
6.1  Printing <br>
6.2  Printing the Data type <br>
6.3  Numbers <br>
6.3.1  Underscore in Numbers <br>
6.4  Strings <br>
6.4.1  string format <br>
6.4.1.1  %-formatting old format <br>
6.4.1.2  str.format() <br>
6.4.1.3  f-string is the best because it's flexible and versatile <br>
6.4.2  Python String Methods <br>
6.5  List <br>
6.5.1  creating a nested list <br>
6.5.2  checking the type <br>
6.5.3  printing the list <br>
6.5.4  indexing list <br>
6.5.5  slicing the list <br>
6.5.6  replacing an item in the list <br>
6.6  List Comprehensions <br>
6.6.1  Basic structure of a list comprehension <br>
6.6.2  Multiple Iteration <br>
6.6.3  Conditionals on the Iterator <br>
6.6.4  Conditionals on the Value <br>
7.  Dictionaries <br>
8.  Operators <br>
8.1   Table of Comparison Operators <br>
8.2  == - equal to <br>
8.3  != - not equal to <br>
8.4  > - greater than <br>
8.5  < - less than <br>
8.6  >= - greater than or equal to <br>
8.7  <= - less than or equal to <br>
8.8  Chained Comparison Operators <br>
8.8.1  and <br>
8.9  or <br>
9.  Boolean type and Boolean operations <br>
10.  Tuples <br>
11.  Set <br>
12.  Control Structures <br>
12.1  Selection by conditionals<br>
12.1.1  if <br>
12.1.2  if - else <br>
12.1.3  if - elif and if - elif - else<br>
12.1.4  if - if Testing Multiple Conditions <br>
12.1.5  Functions with conditionals and nested conditionals <br>
12.2  Repetition <br>
12.2.1  For loop <br>
12.2.2  while Loop <br>
12.3  Exceptions <br>
12.3.1  break <br>
12.3.2  continue <br>
12.3.3  try-except <br> 
13.  Python keywords<br>
14.  Functions <br>
14.1  Built in functions<br>
14.1.1  len() built in function<br>
14.1.2  max() built in function<br>
14.1.3  abs() built in function<br>
14.1.4  help() built in function<br>
14.1.5  map() built in function<br>
14.1.6  filter() function<br>
14.2  User Defined function<br>
14.2.1  Keyword Arguments<br>
14.2.2  Arbitrary Keyword Arguments, **kwargs<br>
14.2.3  print vs return<br>
15.  lambda expression<br>
16.  methods vs functions<br>
17.  Troubleshoot<br>
18.  Reference<br>

# Arithmetic

All these are built from our well known elementary operations.

Operators +, -, * and / work just like in most other languages; parentheses can be used for grouping.

In [19]:
print(2 + 3)   # addition(+) # int + int
print(1. + -5) # addition(+) float + int
print(3 - 1)   # subtraction(-) #int - int
print(2 * 3)   # multiplication(*) 
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

5
-4.0
2
6
1.5
9
1
1

# Variables

* Every variable is connected to a value, which is information associated with that variable.
* containers to store values.
* to avoid having to re-type a long expression, 
* or to keep a value so the computer doesnâ€™t have to recompute it.  

The equal sign `=` is used to assign a value to a variable.

Rules:

* Variable names in Python can contain only letters, numbers, and underscores. They can start with a letter or an underscorem but not with a number.
* Spaces are not allowed in variables names, but underscore can be used to separate words in variable names. 
* Python names are case sensitive.  This applies both to variable names and to function names imported from modules.
* avoid using Python built-in keywords like `list` and `str` (refer to built in keyword section)
* names can not contain any of these symbols

Consideration

* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

* Variables should short but descriptive names
* Good names:  initial_price, my_income_tax, discounted_price2

In [20]:
first_name = 'Elon'
last_name = 'Musk'
country = 'South Africa'
city = 'Pretoria'
age = 49
person_info = {
    'firstname':'Elon', 
    'lastname':'Musk', 
    'country':'South Africa',
    'city':'Pretoria'
    }

# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Person information: ', person_info)


# Declaring multiple variables in one line

first_name, last_name, country, age = 'Elon', 'Musk', 'South Africa', 49

print(first_name, last_name, country)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)

First name: Elon
First name length: 4
Last name:  Musk
Last name length:  4
Country:  South Africa
City:  Pretoria
Age:  49
Person information:  {'firstname': 'Elon', 'lastname': 'Musk', 'country': 'South Africa', 'city': 'Pretoria'}
Elon Musk South Africa
First name: Elon
Last name:  Musk
Country:  South Africa
Age:  49

### Assign Value to Multiple Variables

In [21]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
a, b , c = 3, 4 , 9
print(a)
print(b)
print(c)

3
4
9

# Comment

* Hash mark `#` indicates a comment. Anything following a has mark in your code is ignored by the Python interpreter.
* reason for comment is to explain what your code is supposed to do and how you are making it work.
* can use to trouble shooting
* Writing clear, concise descriptive comment is best practice especially if you are collaborating with a project. Also it's a good reminder to yourself what you are doing at that time.

In [23]:
# Say Hello to everyone.
print("Hello Python people!")

Hello Python people!

# Zen of python

In [24]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Simple is better than complex. <br>
Complex is better than complicated. <br>
Readability counts. <br>
There should be one-- and preferably only one --obvious way to do it. <br>
Now is better than never. <br>

# Data types

* Printing
* Numbers
* Strings
* Lists
* Dictionaries
* Booleans
* Tuples
* Sets

<img src="images/image (11).png"/>

https://towardsdatascience.com/data-structures-in-python-python-for-aspiring-data-scientists-b52bc058fcbd

## Printing

The print() function prints the given object to the standard output device (screen) or to the text stream file.

In [25]:
print("Welcome pythonista")

Welcome pythonista

## Printing the Data type

In [26]:
#Numbers
print(type(10))                           # Int
print(type(3.14))                         # Float
print(type(1 + 3j))                       # Complex
print('-'*96)
#String 

print(type('Hello everything'))           # String
print('-'*96)

#printing

print("Hello everything")                   
print('-'*96)

#List
print(type([1, 2, 3]))                    # List
print('-'*96)

#Dictionary
print(type({'name':'Omega'}))          # Dictionary
print('-'*96)

#Booleans
print(type(True))

#Tuple
print(type((9.81, 3.14, 2.7, 'Alpha')))    # Tuple

#Set
print(type(set({1,2,3,3})))

<class 'int'>
<class 'float'>
<class 'complex'>
------------------------------------------------------------------------------------------------
<class 'str'>
------------------------------------------------------------------------------------------------
Hello everything
------------------------------------------------------------------------------------------------
<class 'list'>
------------------------------------------------------------------------------------------------
<class 'dict'>
------------------------------------------------------------------------------------------------
<class 'bool'>
<class 'tuple'>
<class 'set'>

## Numbers

There are three numeric types in Python:

`int` - Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length. <br>
`float` - Float, or "floating point number" is a number, positive or negative, containing one or more decimals. <br>
`complex` - Complex numbers are written with a "j" as the imaginary part: <br>

In [27]:
print(type(10))                           # Int
print(type(3.14))                         # Float
print(type(1 + 3j))                       # Complex

print("*"*122)
print(10)                           # Int
print(3.14)                         # Float
print(1 + 3j)                       # Complex

<class 'int'>
<class 'float'>
<class 'complex'>
**************************************************************************************************************************
10
3.14
(1+3j)

### Underscore in Numbers

* can be useful if you have a large number.

In [28]:
universe_age = 14_000_000_000
universe_age

14000000000

## Strings

* A string is a series of characters. Anything inside a single `' '` 'text' or double quotes `" "` "text" is considered a string in Python 
* Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order.

In [29]:
print('Hello everything')

Hello everything

In [30]:
'single quotes'

'single quotes'

In [31]:
"double quotes"

'double quotes'

In [32]:
print("""
we are all beginners at some point,
begin again

""")

we are all beginners at some point,
begin again

In [33]:
# Show first element (in this case a letter)
# Assign s as a string
s = 'Hello World'
s[0]

'H'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [34]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [35]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [36]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [37]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

### string format

####  %-formatting old format

In [38]:
name = "Tony"
age = 48

print("Hello, %s. You are %s." % (name, age))

Hello, Tony. You are 48.

####  str.format()

In [39]:
print("Hello, {}. You are {}.".format(name, age))

Hello, Tony. You are 48.

#### f-string is the best because it's flexible and versatile

In [40]:
print(f"Hello, {name}. You are {age}.")

Hello, Tony. You are 48.

Where with the `.format()` method you might see `{value:10.4f}`, with f-strings this can become `{value:{10}.{6}}`

In [41]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

### Python String Methods
Source: https://www.w3schools.com/python/python_ref_string.asp

<table class="table table-bordered">
<tr>
<th style="width:10%">Method</th><th style="width:45%">Description</th>
</tr>
<tr>
<td>capitalize()</td>
<td>Converts the first character to upper case</td>
</tr>
<tr>
<td>casefold()</td>	
<td>Converts string into lower case </td>
</tr>
<tr>
<td>center()</td>	
<td>Returns a centered string </td>
</tr>
<tr>
<td>count()</td>
<td>Returns the number of times a specified value occurs in a string</td>
</tr>
<tr>
<td>encode()</td>
<td>Returns an encoded version of the string </td>
</tr>
<tr>
<td>endswith()</td>
<td>Returns true if the string ends with the specified value </td>
</tr>
<tr>
<td>expandtabs()</td>
<td>Sets the tab size of the string </td>
</tr>
<tr>
<td>find()</td>
<td>Searches the string for a specified value and returns the position of where it was found </td>
</tr>
<tr>
<td>format()</td>
<td>Formats specified values in a string </td>
</tr>
<tr>
<td>format_map()</td>
<td>Formats specified values in a string </td>
</tr>
<tr>
<td>index()</td>
<td>Searches the string for a specified value and returns the position of where it was found </td>
</tr>
<tr>    
<td>isalnum()</td>
<td>Returns True if all characters in the string are alphanumeric </td>
</tr>
<tr>
<td>isalpha()</td>
<td>Returns True if all characters in the string are in the alphabet </td>
</tr>
<tr>
<td>isdecimal()</td>
<td>Returns True if all characters in the string are decimals </td>
</tr>
<tr>
<td>isdigit()</td>
<td>Returns True if all characters in the string are digits </td>
</tr>
<tr>
<td>isidentifier()</td>
<td>Returns True if the string is an identifier </td>
</tr>
<tr>
<td>islower()</td>
<td>Returns True if all characters in the string are lower case </td>
</tr>
<tr>
<td>isnumeric()</td>
<td>Returns True if all characters in the string are numeric </td>
</tr>
<tr>
<td>isprintable()</td>
<td>Returns True if all characters in the string are printable </td>
</tr>
<tr>
<td>isspace()</td>
<td>Returns True if all characters in the string are whitespaces </td>
</tr>
<tr>
<td>istitle()</td>
<td>Returns True if the string follows the rules of a title </td>
</tr>
<tr>
<td>isupper()</td>
<td>Returns True if all characters in the string are upper case </td>
</tr>
<tr>
<td>join()</td>
<td>Joins the elements of an iterable to the end of the string</td>
</tr>
<tr>
<td>ljust()</td>
<td>Returns a left justified version of the string</td>
</tr>
<tr>
<td>lower()</td>
<td>Converts a string into lower case </td>
</tr>
<tr>
<td>lstrip()</td>
<td>Returns a left trim version of the string </td>
</tr>
<tr>
<td>maketrans()</td>
<td>Returns a translation table to be used in translations</td>
</tr>
<tr>
<td>partition()</td>
<td>Returns a tuple where the string is parted into three parts </td>
</tr>
<tr>
<td>replace()</td>
<td>Returns a string where a specified value is replaced with a specified value</td>
</tr>
<tr>
<td>rfind()</td>
<td>Searches the string for a specified value and returns the last position of where it was found</td>
</tr>
<tr>
<td>rindex()</td>
<td>Searches the string for a specified value and returns the last position of where it was found </td>
</tr>
<tr>
<td>rjust()</td>
<td>Returns a right justified version of the string </td>
</tr>
<tr>    
<td>rpartition()</td>
<td>Returns a tuple where the string is parted into three parts </td>
</tr>
<tr>
<td>rsplit()</td>
<td>Splits the string at the specified separator, and returns a list </td>
</tr>
<tr>
<td>rstrip()</td>
<td>Returns a right trim version of the string </td>
</tr>
<tr>
<td>split()	</td>
<td>Splits the string at the specified separator, and returns a list </td>
</tr>
<tr>
<td>splitlines()</td>
<td>Splits the string at line breaks and returns a list </td> 
</tr>
<tr>
<td>startswith()</td>
<td>Returns true if the string starts with the specified value </td>
</tr>
<tr>
<td>strip()</td>
<td>Returns a trimmed version of the string </td>
</tr>
<tr>
<td>swapcase()</td>
<td>Swaps cases, lower case becomes upper case and vice versa</td>
</tr>
<tr>
<td>title()	</td>
<td>Converts the first character of each word to upper case </td>
</tr>
<tr>
<td>translate()</td>
<td>Returns a translated string</td>
</tr>
<tr>
<td>upper()</td>
<td>Converts a string into upper case </td>
</tr>
<tr>
<td>zfill()</td>
<td>Fills the string with a specified number of 0 values at the beginning </td>
</tr>
<tr>

## List

* Lists are ordered collections of values. Examples: [1, 2, 3, 4], [7.5, 9.0, 2]

* Values in the lists are called elements

* Strings are actually lists of character elements! Examples: 'This class is about Python.' (Note that the space is considered a character.)

* Lists can contain any types of values, including numbers, strings or even another list.

* In python, square bracket `[]` indicate a list, and indivual elements in the list are seperated by `,` commas.

### creating a nested list

In [42]:
#nested list with a list on the 2nd element
my_list =['Hello everything',4,[1,2]]

### checking the type

In [43]:
type(['Hello everything',4,[1,2]])

list

### printing the list

In [44]:
#printing the list
print(my_list)

['Hello everything', 4, [1, 2]]

###  indexing list
Index positions start at 0, not 1

In [45]:
my_list[0]

'Hello everything'

In [46]:
my_list[-1]

[1, 2]

### slicing the list

In [47]:
my_list[1:]

[4, [1, 2]]

### replacing an item in the list

In [48]:
my_list[0] = 'new' #replace Hello everything

In [49]:
my_list

['new', 4, [1, 2]]

## List Comprehensions

### Basic structure of a list comprehension

`example syntax:`
```python
[function(item) for item in list]
```

Item is often called the iterator of the list comprehension

List comprehensions are simply a way to compress a list-building for-loop into a single short, readable line. For example, here is a loop that constructs a list of the first 12 square integers:

In [107]:
raise_two = [] #creating a empthy list
for num in range(12): #using a for loop you can check for loop section
    raise_two.append(num ** 2)
raise_two

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [52]:
[num ** 2 for num in range(12)] #list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

### Multiple Iteration

```python
[function(item1,item2) for item1 in list1 for item2 in list2]
```

In [53]:
a=[]  #creating a empthy list
for i in range(2): #multiply for loop
    for j in range(3):
     a.append((i,j))
a

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [54]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

### Conditionals on the Iterator

``` python
[item for item in list if condition(item)]
```

In [55]:
x = []
for val in range(20):
    if val % 3:
        x.append(val)
x

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [56]:
[val for val in range(20) if val % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

### Conditionals on the Value


```python
[function1(item) if conditional(item) else function2(item) for item in list]
```

In [57]:
[val if val % 2 else 'skipped' for val in range(20) if val % 3]

[1,
 'skipped',
 'skipped',
 5,
 7,
 'skipped',
 'skipped',
 11,
 13,
 'skipped',
 'skipped',
 17,
 19]

# Dictionaries

* A dictionary in python is a colleciton of `key-value pairs`. Each `key` is connected to a value, and you can use a key to access the value associated with that key.
* A key's value can be a number, a string, a list, or even another dictionary.
* dictionary is wrapped in braces `{}`.

In [58]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [59]:
# Call values by their key
my_dict['key2']

'value2'

In [60]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [61]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [62]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [66]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [67]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [68]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [69]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Operators

Arithmetic Operators (+, -, *, /, //, %, **) <br>
Bitwise Operators (&, |, ^, >>, <<, ~) <br>
Assignment Operators (=, +=, -=, /=, //= etc.) <br>
Comparison Operator (==, !=, >, <, >=, <=) <br>
Logical Operators (and, or, not) <br>
Identity Operators (is, is not) <br>
Membership Operators (in, not in) <br>

- The Boolean type refers to one of the truth values **`True`** or **`False`**.
- There are built-in operators and functions that return booleans:
 - Arithmetic comparison operators: 
  - `==` - equal to
  - `!=` - not equal to
  - `>`  - greater than
  - `<`  - less than
  - `>=` - greater than or equal to
  - `<=` - less than or equal to

<h2> Table of Comparison Operators </h2><p>  In the table below, a=4 and b=6.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

## `==` - equal to

In [70]:
4 == 4

True

In [71]:
8 == 9

False

## `!=` - not equal to

In [72]:
10 != 11

True

##  `>`  - greater than

In [73]:
6 >  3

True

In [74]:
3 > 6

False

## `<`  - less than

In [75]:
2 < 4

True

In [76]:
4 < 2

False

## `>=` - greater than or equal to

In [77]:
5 >= 5

True

In [78]:
5 >= 4

True

## `<=` - less than or equal to

In [79]:
2 <= 2

True

In [80]:
2 <= 4

True

## Chained Comparison Operators

In [81]:
1 < 2 < 3

True

### and

The above statement checks if 1 was less than 2 **and** if 2 was less than 3. We could have written this using an **and** statement in Python:

In [82]:
1<2 and 2<3

True

The **and** is used to make sure two checks have to be true in order for the total check to be true.

## or

In [83]:
1==2 or 2<3

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true.

# Boolean type and Boolean operations

- Conditions can be combined using **`and`**, **`or`**, and **`not`**:
 - a **and** b: return True if both a and b are True
 - a **or** b: return True if at least one is True
 - **not** a: return True if a is False

In [84]:
#and
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [85]:
#or
print(True or True)
print(True or False)
print(False or False)

True
True
False

# Tuples

* A tuple is a collection which is ordered and unchangeable. 
* In Python tuples are written with round brackets `()`.

In [86]:
# Create a tuple
t = (1,2,3)

In [87]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [88]:
# Use indexing just like we did in lists
t[0]

'one'

In [89]:
t[0]= 'change' #we received a typeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [90]:
t.append('nope') #AttributeError becausae tuple has no append function

AttributeError: 'tuple' object has no attribute 'append'

# Set

* Sets are an unordered collection of *unique* elements. 
* We can construct them by using the `set()` function.

In [91]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [93]:
set(list1) #using the set() function and output only shows the unique elements

{1, 2, 3, 4, 5, 6}

# Control Structures


In broad terms, a program is a set of instructions given to a computer to handle a task.
How do we make sure that these instructions are executed in order and as intended?


All programming languages use **control structures** to organize the flow of data.
These determine how a program will respond when data exhibits certain conditions and parameters.
In essence, these control structures implement decision-making processes that are needed for the use case

Control structures may be any of the following
- Selection by conditional (`if`, `if-else`, `if-elif-else`, `if`-`if`)
- Repetition (`for`, `while`)
- Exception (`break`,`continue`,`try-except`)

##  Selection by conditionals
### `if` 

- The syntax to implement a basic conditional statement in a function is:

`example syntax:`

```python
if ('condition') :     # where condition is any boolean expression
    expression1       # expression is indented and do something

```

- An `if` statement evaluates the expression inside the parenthesis. 
- If the expression is evaluated to `True`, the indented expression is executed. 
- If it is `False`, the indented expression inside the body is skipped.

In [9]:
score1 = 80
score2 = 90

if (score1 > score2) :
    print("Score1 is bigger")

### `if` - `else` 
An `if` statement is often paired with an `else` statement. 
The `else` statement executes the indented expression if the condition provided in `if` is `False`

```python
if (condition) :      
    expression1       # indented
else:                 # Note: else doesnt accept any conditions!
    expression2       # indented, if condition1 is not satisfied do some expresssion 2
```

In [34]:
score1 = 90
score2 = 80

if (score1 < score2):
    print(" score1 is bigger")
else:
    print(" score2 is bigger")

 score2 is bigger

### `if` - `elif` and `if` - `elif`  - `else`

An `elif` (short for else if) statement is added if you need to account for more than 1 condition.

`example syntax:`

```python
if (condition1) :      
    expression1       # indented
elif (condition2):    
    expression2       # indented
elif (condition3):    
    expression3       # indented
else:
    expression4       # indented
```
- You may add as many `elif` statements as needed.

In [36]:
score1 = 80
score2 = 80

if (score1 > score2):
    print("score1 is bigger")
elif (score1 == score2):
    print("score1 and score2 are equal" )
else:
    print("score2 is bigger")

score1 and score2 are equal

### `if` - `if` Testing Multiple Conditions

The __if-elif-else__ chain is powerful , but it's only appropriate to use when you just need one test to pass. As soon as Python 
finds one test that passes, it skips the rest of the test.

This technique makes sense when more than one condition could be True, and you want to act on every condition that is True.

`example syntax:`

```python
if (condition1) :      
    expression1       # indented
if (condition2):    
    expression2       # indented
if (condition3):    
    expression3       # indented
if (condition4):
    expression4       # indented
```

In [16]:
request_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in request_toppings:
    print("Adding mushrooms")
if 'pepperoni' in request_toppings:
    print("Adding pepperoni")
if 'extra cheese' in request_toppings:
    print("Adding extra cheese")

print("\nFinished making your order")

Adding mushrooms
Adding extra cheese

Finished making your order

### Functions with conditionals and nested conditionals

- Conditionals are often used in writing functions:

`example syntax:`

```python
def func():
    if c1:
        return A
    else:
        return B
```

- Conditionals can also be nested arbitrarily:
  - Return A if c1 is true, B if c1 is false but c2 is true, and C if both are false:
  
`example syntax:`

```python
def func1():
    if c1:
        return A
    else:
        if c2:
            return B
        else:
            return C
```

   - Return A if c1 and c2 are true, B if c1 is true but not c2, C if c1 is false but c3 is true, and D if c1 and c3 are both false:

`example syntax:`

```python
def func2():
    if c1:
        if c2:
            return A
        else:
            return B
    elif c3:
        return C
    else:
        return D
```

##  Repetition
The power of programming lies in the computer's ability to perform calculations repeatedly at a pace no human could possibly do. 

Loops are processes that gets repeated again and again until a certain condition is reached. 
A single repetition of a process is often called an `iteration`.

###  `For` loop

A `for` loop has 2 sections: a `header` which specifies the iterating condition, and a `body` which is executed once per iteration. `item` you change the variable name

_syntax:_

```python
for item in sequence:      
    expression(s)    #indented
```

In flowchart form:
![alt text](http://www.trytoprogram.com/images/python_for_loop.jpg)

In [17]:
avengers = ['Iron Man','Captain America','Hulk','Thor','Black Widow','Hawkeye']
avengers

['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye']

In [19]:
for hero in avengers:
    print(hero)

Iron Man
Captain America
Hulk
Thor
Black Widow
Hawkeye

In [39]:
for i in range(len(avengers)):
    print(i, avengers[i])

0 Iron Man
1 Captain America
2 Hulk
3 Thor
4 Black Widow
5 Hawkeye

### `while` Loop

- While loops are used when the condition for terminating the loop is known, but not necessarily the number of iterations.  
 
- When using a while loop, iteration continues until a given condition becomes False:

_syntax:_

```python
while <condition>:
   statements
```
In flowchart form:
![alt text](http://www.trytoprogram.com/images/python_while_loop.jpg)

- As a first example, this loop prints integers from 0 to 9:

In [41]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

This for loop does the same thing:

In [42]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Exceptions


###  `break`

The `break` statement is used to jump out of the loop by skipping the remaining code without further testing the test expression of that loop. Basically, it is used to terminate while loop or for loop in Python.

_syntax:_

```python
for var in sequence:
  statement(s)
  if (test_expression2):
    break

while (condition)
  statement(s)
  if (test_expression2):
    break
   
```
Code below prints a list of numbers using the while loop, but is preemptively terminated using the `break` statement

In [43]:
num = [1,2,3,4,5,6,7,8]

for n in num:
    print(n)
    if (n == 7):
        break

1
2
3
4
5
6
7

### `continue`

The `continue` statement is used to skip the remaining statements in the body of that loop and continue the next iteration of the loop.

Unlike `break`, `continue` statement doesnâ€™t terminate the loop, but rather interrupts a particular iteration only.

_syntax:_

```python
while (test_expression1):
  statement(s)
  if (test_expression2):
    continue
    
for var in sequence:
  statement(s)
  if (test_expression2):
    continue
```
Code below counts a list of numbers using the while loop, but one iteration isnt printed because of `continue` statement

In [45]:
num = [1,2,3,4,5,6,7,8]

for n in num:
    if (n == 4):
        continue
    print(n)          # notice

1
2
3
5
6
7
8

### `try`-`except`

Exceptions are 'thrown' whenever Python encounters something that the function in use cannot handle. 
Teh most-often encountered ones are:`SyntaxError`,`IndexError`,`TypeError`, `ZeroDivisionError`
Some kinds of errors are listed [here](http://www.trytoprogram.com/python-programming/python-exception-handling/)

Exceptions are handled in Python using the `try` statement. Suspicious codes that may raise exceptions are placed inside the `try` block and the code that executes when the exception occurs is placed inside `except` block.

Here is the structure of `try` and `except` statement in Python.

_syntax_

```python
try:
  ** Operational/Suspicious Code
except SomeException:
  ** Code to handle the exception
```

- First statements in try block are executed to check whether or not exception occurs
- If exception doesnâ€™t occur then the except block is skipped.
- If an exception occurs and matches the name defined 'SomeException' to handle in except block, the code inside will activate and the code continues
- You could also choose not to specify an Exception Kind
- If no code for the exception is found in except block, the program execution stops with the corresponding error message.


For example, the code below  divides elements from 2 lists at the same index and handles the case when a 0 divisor is encountered

In [46]:
dividend = [15,15,15,20,20,20]
divisor = [3,5,0,4,5,0]

quotient = []
for n in range(len(dividend)):
    try:
        result = dividend[n]/divisor[n]
    except:
        result = 'ERROR'
    #result = dividend[n]/divisor[n]    
    quotient.append(result)
    
quotient

[5.0, 3.0, 'ERROR', 5.0, 4.0, 'ERROR']

# Python keywords
Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers: <br>
Source: https://www.w3schools.com/python/python_ref_keywords.asp

<table class="table table-bordered">
<tr>
<th style="width:10%">Python Keywords</th><th style="width:45%">Description</th>
</tr>
<tr>
<td>and</td><td>A logical operator</td>
</tr>
<tr>    
<td>as</td><td>To create an alias</td>
</tr>
<tr>
<td>assert</td>	<td>For debugging</td>
</tr>
<tr>
<td>break</td>	<td>To break out of a loop</td>
</tr>
<tr>
<td>class</td>	<td>To define a class</td>
</tr>
<tr>
<td>continue</td>	<td>To continue to the next iteration of a loop</td>
</tr>
<tr>
<td>def</td>	<td>To define a function</td>
</tr>
<tr>
<td>del</td>	<td>To delete an object</td>
</tr>
<tr>
<td>elif</td>	<td>Used in conditional statements, same as else if</td>
</tr>
<tr>
<td>else</td>	<td>Used in conditional statements</td>
</tr>
<tr>
<td>except</td>	<td>Used with exceptions, what to do when an exception occurs</td>
</tr>
<tr>
<td>False</td>	<td>Boolean value, result of comparison operations</td>
</tr>
<tr>
<td>finally</td>	<td>Used with exceptions, a block of code that will be executed no matter if there is an exception or not</td>
</tr>
<tr>
<td>for</td>	<td>To create a for loop</td>
</tr>
<tr>
<td>from</td>	<td>To import specific parts of a module</td>
</tr>
<tr>
<td>global</td>	<td>To declare a global variable</td>
</tr>
<tr>
<td>if</td>	<td>To make a conditional statement</td>
</tr>
<tr>
<td>import</td>	<td>To import a module</td>
</tr>
<tr>
<td>in</td>	<td>To check if a value is present in a list, tuple, etc.</td>
</tr>
<tr>
<td>is</td>	<td>To test if two variables are equal</td>
</tr>
<tr>
<td>lambda</td>	<td>To create an anonymous function</td>
</tr>
<tr>
<td>None</td>	<td>Represents a null value</td>
</tr>
<tr>
<td>nonlocal</td>	<td>To declare a non-local variable</td>
</tr>
<tr>
<td>not</td>	<td>A logical operator</td>
</tr>
<tr>
<td>or</td>	<td>A logical operator</td>
</tr>
<tr>
<td>pass</td>	<td>A null statement, a statement that will do nothing</td>
</tr>
<tr>
<td>raise</td>	<td>To raise an exception</td>
</tr>
<tr>
<td>return</td>	<td>To exit a function and return a value</td>
</tr>
<tr>
<td>True</td>	<td>Boolean value, result of comparison operations.</td>
</tr>
<tr>
<td>try</td>	<td>To make a try...except statement</td>
</tr>
<tr>
<td>while</td>	<td>To create a while loop</td>
</tr>
<tr>
<td>with</td>	<td>Used to simplify exception handling</td>
</tr>
<tr>
<td>yield</td>	<td>To end a function, returns a generator</td>

# Functions

* which are named blocks of code that are designed to do one specific job.

## Built in functions

The Python interpreter has a number of functions and types built into it that are always available. They are listed here in alphabetical order.

https://docs.python.org/3/library/functions.html
<table class="table table-bordered">
<tr>
<th style="width:10%">Build in function</th><th style="width:45%">Description</th>
</tr>
<tr>
<td>abs()</td><td>Returns the absolute value of a number</td>
</tr>
<tr>
<td>all()</td><td>	Returns True if all items in an iterable object are true
    </tr>
<tr>
<td>any()</td><td>	Returns True if any item in an iterable object is true
        </tr>
<tr>
<td>ascii()</td><td>	Returns a readable version of an object. Replaces none-ascii characters with escape character
        </tr>
<tr>
<td>bin()</td><td>	Returns the binary version of a number
        </tr>
<tr>
<td>bool()</td><td>	Returns the boolean value of the specified object
        </tr>
<tr>
<td>bytearray()</td><td>	Returns an array of bytes
        </tr>
<tr>
<td>bytes()</td><td>	Returns a bytes object
        </tr>
<tr>
<td>callable()</td><td>	Returns True if the specified object is callable, otherwise False
        </tr>
<tr>
<td>chr()</td><td>	Returns a character from the specified Unicode code.
        </tr>
<tr>
<td>classmethod()</td><td>	Converts a method into a class method
        </tr>
<tr>
<td>compile()</td><td>	Returns the specified source as an object, ready to be executed
        </tr>
<tr>
<td>complex()</td><td>	Returns a complex number
        </tr>
<tr>
<td>delattr()</td><td>	Deletes the specified attribute (property or method) from the specified object
        </tr>
<tr>
<td>dict()</td><td>	Returns a dictionary (Array)
        </tr>
<tr>
<td>dir()</td><td>	Returns a list of the specified object's properties and methods</td>
            </tr>
<tr>
<td>divmod()</td><td>	Returns the quotient and the remainder when argument1 is divided by argument2</td>
        </tr>
<tr>
<td>enumerate()</td><td>	Takes a collection (e.g. a tuple) and returns it as an enumerate object
        </tr>
<tr>
<td>eval()</td><td>	Evaluates and executes an expression
        </tr>
<tr>
<td>exec()</td><td>	Executes the specified code (or object)
        </tr>
<tr>
<td>filter()</td><td>	Use a filter function to exclude items in an iterable object
        </tr>
<tr>
<td>float()</td><td>	Returns a floating point number
        </tr>
<tr>
<td>format()</td><td>	Formats a specified value
        </tr>
<tr>
<td>frozenset()</td><td>	Returns a frozenset object
        </tr>
<tr>
<td>getattr()</td><td>	Returns the value of the specified attribute (property or method)
        </tr>
<tr>
<td>globals()</td><td>	Returns the current global symbol table as a dictionary
        </tr>
<tr>
<td>hasattr()</td><td>	Returns True if the specified object has the specified attribute (property/method)
        </tr>
<tr>
<td>hash()</td><td>	Returns the hash value of a specified object
        </tr>
<tr>
<td>help()</td><td>	Executes the built-in help system
        </tr>
<tr>
<td>hex()</td><td>	Converts a number into a hexadecimal value
        </tr>
<tr>
<td>id()</td><td>	Returns the id of an object
        </tr>
<tr>
<td>input()</td><td>	Allowing user input
        </tr>
<tr>
<td>int()</td><td>	Returns an integer number
        </tr>
<tr>
<td>isinstance()</td><td>	Returns True if a specified object is an instance of a specified object
        </tr>
<tr>
<td>issubclass()</td><td>	Returns True if a specified class is a subclass of a specified object
        </tr>
<tr>
<td>iter()</td><td>	Returns an iterator object
        </tr>
<tr>
<td>len()</td><td>	Returns the length of an object
        </tr>
<tr>
<td>list()</td><td>	Returns a list
        </tr>
<tr>
<td>locals()</td><td>	Returns an updated dictionary of the current local symbol table
        </tr>
<tr>
<td>map()</td><td>	Returns the specified iterator with the specified function applied to each item
        </tr>
<tr>
<td>max()</td><td>	Returns the largest item in an iterable
        </tr>
<tr>
<td>memoryview()</td><td>	Returns a memory view object
        </tr>
<tr>
<td>min()</td><td>	Returns the smallest item in an iterable
        </tr>
<tr>
<td>next()</td><td>	Returns the next item in an iterable
        </tr>
<tr>
<td>object()</td><td>	Returns a new object
        </tr>
<tr>
<td>oct()</td><td>	Converts a number into an octal
        </tr>
<tr>
<td>open()</td><td>	Opens a file and returns a file object
        </tr>
<tr>
<td>ord()</td><td>	Convert an integer representing the Unicode of the specified character
        </tr>
<tr>
<td>pow()</td><td>	Returns the value of x to the power of y
        </tr>
<tr>
<td>print()</td><td>	Prints to the standard output device
        </tr>
<tr>
<td>property()</td><td>	Gets, sets, deletes a property
        </tr>
<tr>
<td>range()</td><td>	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
        </tr>
<tr>
<td>repr()</td><td>	Returns a readable version of an object
        </tr>
<tr>
<td>reversed()</td><td>	Returns a reversed iterator
        </tr>
<tr>
<td>round()</td><td>	Rounds a numbers
        </tr>
<tr>
<td>set()</td><td>	Returns a new set object
        </tr>
<tr>
<td>setattr()</td><td>	Sets an attribute (property/method) of an object
        </tr>
<tr>
<td>slice()	</td><td>Returns a slice object
        </tr>
<tr>
<td>sorted()</td><td>	Returns a sorted list
        </tr>
<tr>
<td>@staticmethod()</td><td>	Converts a method into a static method
        </tr>
<tr>
<td>str()</td><td>	Returns a string object
        </tr>
<tr>
<td>sum()</td><td>	Sums the items of an iterator
        </tr>
<tr>
<td>super()	</td><td>Returns an object that represents the parent class
        </tr>
<tr>
<td>tuple()	</td><td>Returns a tuple
        </tr>
<tr>
<td>type()	</td><td>Returns the type of an object
        </tr>
<tr>
<td>vars()	</td><td>Returns the __dict__ property of an object
        </tr>
<tr>
<td>zip()	</td><td>Returns an iterator, from two or more iterators
        </tr>

### `len()` built in function

* Returns the length of an object

In [99]:
len([1,5,67, 100]) #lenght of list

4

### `max()` built in function
* Returns the largest item in an iterable

In [98]:
max([1,5,67, 100]) #max number in the list

100

### `abs()` built in function
* Returns the absolute value of a number

In [100]:
abs(-1.0) #absolute value

1.0

### `help()` built in function
* Executes the built-in help system

In [101]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### `map()` built in function

* Returns the specified iterator with the specified function applied to each item

_syntax:_

```python
map(function, iterables)
```

In [116]:
#create a function
def myfunc(a, b):
  return a + " " + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [117]:
# x becomes a map object
x

In [118]:
#to print output use list function
list(x)

['apple orange', 'banana lemon', 'cherry pineapple']

### `filter()` function 

* returns an iterator were the items are filtered through a function to test if the item is accepted or not.

_syntax_

```python
filter(function, iterable)
```

In [126]:
#Filter the array, and return a new array with only the values equal to or above 18:
ages = [5, 12, 17, 18, 24, 32, 100, 82]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

In [123]:
#filter object
adults

In [124]:
#printing to a list
list(adults)

[18, 24, 32, 100, 82]

In [127]:
for x in adults:
  print(x)

18
24
32
100
82

## User Defined function

* Functions that we define ourselves to do certain specific task are referred as user-defined functions

Advantages of user-defined functions

1.User-defined functions help to decompose a large program into small segments which makes program easy to understand, maintain and debug. <br>
2.If repeated code occurs in a program. Function can be used to include those codes and execute when needed by calling that function.<br>
3.Programmars working on large project can divide the workload by making different functions.

In [21]:
def num_raise2(x):
    result = x**2 
    return result

In [16]:
num_raise2(3)

9

- The keyword `def` introduces a function definition. It is followed by the function name and a parenthesized list of parameters, called the function **arguments** 
- The statements in the body of the function start at the next line, and must be indented.
- The function ends with the keyword `return` which specifies the variable it outputs

In [22]:
def greet_user():
    """Display a simple greeting."""
    print("Hello")

In [24]:
greet_user()

Hello

### Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [103]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Dave", child2 = "Cam", child3 = "Linus")

The youngest child is Linus

### Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [105]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Kobe", lname = "Bryant")

His last name is Bryant

### print vs return

`print` will immediately make your program write out text for you to see. <br>
`return` when you want to send a value from one point in your code to another.

* lambda expressions
* map and filter
* methods

# lambda expression

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.


_syntax:_ <br>
`lambda` arguments : expression

In [25]:
x = lambda a: a + 10
print(x(5))

15

# methods vs functions

e.g `functions`
```python
len([1,5,67, 100]) 
int(1.2) # converts float to int

```
e.g `string methods`

```python

"hello".capitalize() # Converts the first character to upper case

```

`Function`
A function is a block of code to carry out a specific task, will contain its own scope and is called by name. All functions may contain zero(no) arguments or more than one arguments. On exit, a function can or can not return one or more values.

e.g user defined function
``` python
def functionName( arg1, arg2,â€¦.):
   â€¦â€¦.
   # Function_body
   â€¦â€¦..

```


`Method`

A method in python is somewhat similar to a function, except it is associated with object/classes. Methods in python are very similar to functions except for two major differences.

The method is implicitly used for an object for which it is called.

The method is accessible to data that is contained within the class.

_General Method Syntax_

``` python
class ClassName:
   def method_name():
      â€¦â€¦â€¦â€¦..
      # Method_body
      â€¦â€¦â€¦â€¦â€¦â€¦
```

# Troubleshoot

<img src="images/trouble.jpg"/>

* google error
* check stack overflow
* rest then go back to the error

# Reference

`Web`
https://realpython.com/python-f-strings/ <br>
https://www.w3schools.com/python/python_numbers.asp <br>
https://www.w3schools.com/python/python_functions.asp <br>
https://www.w3schools.com/python/ref_func_filter.asp <br>
https://www.tutorialspoint.com/difference-between-method-and-function-in-python#:~:text=A%20method%20in%20python%20is,is%20contained%20within%20the%20class.
http://pythonforbiologists.com <br>

`Github`
https://github.com/Asabeneh/30-Days-Of-Python/tree/master/01_Day_Introduction <br>
https://github.com/Asabeneh/30-Days-Of-Python <br>
https://github.com/trekhleb/learn-python <br>

`Online` + `Bootcamp` <br>
Udemy Pierian Data https://www.udemy.com/course/complete-python-bootcamp/ <br>
Eskwelabs